<mat-toolbar color="primary" class="app-toolbar">
  <mat-icon class="brand-icon">public</mat-icon>
  <span class="brand">{{ title }}</span>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="themeMenu" matTooltip="Theme" aria-label="Theme">
    <mat-icon>{{ themeIcon() }}</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="setTheme('light')">
      <mat-icon>light_mode</mat-icon>
      <span>Light</span>
      @if (theme.mode() === 'light') { <mat-icon class="check">check</mat-icon> }
    </button>
    <button mat-menu-item (click)="setTheme('dark')">
      <mat-icon>dark_mode</mat-icon>
      <span>Dark</span>
      @if (theme.mode() === 'dark') { <mat-icon class="check">check</mat-icon> }
    </button>
    <button mat-menu-item (click)="setTheme('system')">
      <mat-icon>brightness_auto</mat-icon>
      <span>System</span>
      @if (theme.mode() === 'system') { <mat-icon class="check">check</mat-icon> }
    </button>
  </mat-menu>

  <a mat-icon-button href="https://earthquake.usgs.gov/fdsnws/event/1/" target="_blank" rel="noopener" aria-label="USGS API docs">
    <mat-icon>help_outline</mat-icon>
  </a>
</mat-toolbar>

<router-outlet />
